.seriesCard {
  border: 2px solid var(--colorBorder);
  background-color: var(--color-background);
  padding: var(--margin);

  display: grid;
  grid-template-columns: 9.6rem 1fr 1fr 7rem;
  grid-template-rows: 2rem 10rem 7rem;

  gap: var(--marginS);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .cover {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .authorName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    width: 100%;
    text-align: center;
  }

  .authorImg {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .covers {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    padding-left: var(--marginS);
    display: flex;
    gap: var(--marginS);
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      border: 2px solid var(--color-secondary);
      box-shadow: -5px 0px 4px 2px rgba(0, 0, 0, 0.5);
    }
  }

  .buttons {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
